*_ignore*
*_backup*
*_bak.???
**/*_bak/
*_old.???
**/*_old/
*_WIP.*
# **/*_WIP/
*_tmp.???
**/*_tmp/
*_test.???
#**/*_test/
* - Copy.???
**/* - Copy/
*Shortcut.???
*desktop.ini
#*_Override.ini  # I want to backup and version control my config, is kinda the whole point here.
Layouts/**/*ImgGen_*
*PKL.exe
EPKL_*xecutable*.zip
*Notepad*_Session*
**/_Inbox/*
KeyboardVerify.log
